<div class="container">
  <a href="/admin/profile">profile</a>
  <a href="/admin/meetings">meetings</a>
  <a href="/admin/circulars">circulars</a>
  <a href="/admin/amenities">add amenities</a>
  <a href="/admin/complaints">complaints</a>
  <a href="/admin/handle-users">handle users</a>
  <hr />
</div>
  