<div class="container">
  <a href="#">profile</a>
  <a href="#">meetings</a>
  <a href="#">circulars</a>
  <a href="#">add amenities</a>
  <a href="#">complaints</a>
  <a href="#">handle users</a>
  <hr />
</div>
