<%- include("partials/header"); -%>
<div class="container">
  <%- include("partials/admin-navbar"); -%>
  <label for="name">name</label>
  &lt;name of admin&gt;
  <br />
  <label for="number">number</label>
  &lt;mobile number&gt;
  <br />
</div>
<%- include("partials/footer"); -%>
