<%- include("partials/header"); -%>
<%- include("partials/admin-navbar"); -%>
<div class="container">
  <table style="width: 75%">
    <tr>
      <th>sr no</th>
      <th>name</th>
      <th>email id</th>
      <th>flat no</th>
      <th>contact no</th>
      <th>registered on</th>
      <th>status</th>
      <th>delete user</th>
    </tr>
    <tr>
      <td>1</td>
      <th>tyler durden</th>
      <td>tylerdurden@yahoo.com</td>
      <td>A-403</td>
      <td>9909988544</td>
      <td>12/12/2021</td>
      <td><button type="submit">Active</button></td>
      <td><button type="submit">Delete</button></td>
    </tr>
    <tr>
      <td>2</td>
      <th>travis bickle</th>
      <td>travis@gmail.com</td>
      <td>B-103</td>
      <td>9874561212</td>
      <td>12/01/2022</td>
      <td><button type="submit">Active</button></td>
      <td><button type="submit">Delete</button></td>
    </tr>
    <tr>
      <td>3</td>
      <th>frank costello</th>
      <td>frankyc@gmail.com</td>
      <td>C-702</td>
      <td>9923999099</td>
      <td>02/02/2022</td>
      <td><button type="submit">Active</button></td>
      <td><button type="submit">Delete</button></td>
    </tr>
  </table>
</div>
<%- include("partials/footer"); -%>
