<%- include("partials/header"); -%>
<div class="container">
  <table style="width: 75%">
    <tr>
      <th>Sr no</th>
      <th>Society Name</th>
      <th>Society address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>number of residents</th>
      <th>Status</th>
      <th>Delete society</th>
    </tr>
    <tr>
      <td>1</td>
      <td>smart society</td>
      <td>Lorem ipsum dolor sit amet, ut labore et dolore magna aliqua.</td>
      <td>rajkot</td>
      <td>gujarat</td>
      <td>367895</td>
      <td>900</td>
      <td><button type="submit">Active</button></td>
      <td><button type="submit">Delete</button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>silver heights</td>
      <td>Vitae purus faucibus ornare suspendisse sed nisi lacus sed.</td>
      <td>ahmedabad</td>
      <td>gujarat</td>
      <td>312395</td>
      <td>950</td>
      <td><button type="submit">Delete</button></td>
    </tr>
  </table>
</div>
<%- include("partials/footer"); -%>
