<%- include("partials/header"); -%>
<div class="container">
  <form action="/master/admin/add-society" method="post">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">manage societies</a>
      </li>
    </ul>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">society name</span>
      <input
        name="name"
        type="text"
        class="form-control"
        aria-label="society name"
        aria-describedby="basic-addon1"
      />
    </div>

    <div class="input-group">
      <span class="input-group-text">society address</span>
      <textarea
        class="form-control"
        name="address"
        aria-label="With textarea"
      ></textarea>
    </div>

    <select class="form-select" aria-label="Default select example">
      <option selected>select state</option>
      <option value="1">state One</option>
      <option value="2">state Two</option>
      <option value="3">state Three</option>
    </select>

    <select class="form-select" aria-label="Default select example">
      <option selected>select city</option>
      <option value="1">city One</option>
      <option value="2">city Two</option>
      <option value="3">city Three</option>
    </select>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">postal code</span>
      <input
        name="postal-code"
        type="text"
        class="form-control"
        aria-label="postal code"
        aria-describedby="basic-addon1"
      />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">no of residents</span>
      <input
        name="residents"
        type="text"
        class="form-control"
        aria-label=">no of residents"
        aria-describedby="basic-addon1"
      />
    </div>
    <input type="submit" class="btn btn-primary" value="Add society" />
  </form>
</div>

<%- include("partials/footer"); -%>
