<%- include("../partials/header"); -%>
<div class="container">
  <form method="post" action="/admin/login">
    <input type="email" name="email" placeholder="Email" /><br />
    <input type="password" name="password" placeholder="Password" /><br />
    <input type="submit" placeholder="login" /><br />
    <a href="#">forget Password?</a>
  </form>
</div>
<%- include("../partials/footer"); -%>
