<%- include("../partials/header"); -%><%- include("../partials/user-navbar");
-%>

<div class="container">
  <h2>circulars</h2>
  <table>
    <tr>
      <th>sr no</th>
      <th>title</th>
      <th>details</th>
      <th>issuance date</th>
    </tr>
    <tr>
      <td>1</td>
      <td>lorem ipsum</td>
      <td>Lorem ipsum dolor sit amet elit.</td>
      <td>12/02/2022</td>
    </tr>
  </table>
</div>
<%- include("../partials/footer"); -%>
