<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>
<div class="container">
  <h3>name: &lt;username&gt;</h3>
  <h3>block number: &lt;block number&gt;</h3>
</div>
<%- include("../partials/footer"); -%>
