<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>

<div class="container">
  <h3>Hello! I'm &lt;adminName&gt;, the secretary of the society.</h3>
  <h3>How can I help you?</h3>
  <br />
  <br />
  <h4>
    <a href="mailto:frankabagnale@email.com"
      ><i class="fa-regular fa-envelope"></i> frankabagnale@email.com</a
    >
  </h4>
  <br />
  <h4>
    <a href="tel:99894589"><i class="fa-solid fa-phone"></i> 99894589</a>
  </h4>
  <br />
  <h4>
    <a
      href="https://wa.me/+91<admin contactNo>?text=Hi, I'm <user name> from <block no>."
      ><i class="fa-brands fa-whatsapp"></i> 99894589
    </a>
  </h4>
</div>

<%- include("../partials/footer"); -%>
