<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>
<div class="container">
  <h2><a href="/services/amenities">amenities</a></h2>
  <h2><a href="/services/circulars">circulars</a></h2>
  <h2><a href="/services/complaints">complaints</a></h2>
</div>

<%- include("../partials/footer"); -%>
