<div class="container">
  <h3>master admin pages</h3>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/master/admin/add-society"
    >add a society
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/master/admin/manage-societies"
    >manage socities
  </a>
  <h3>admin pages</h3>

  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/login"
    >admin login
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/profile"
    >admin profile
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/handle-users"
    >handle-users
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/meetings"
    >meetings
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/circulars"
    >circulars
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/amenities"
    >amenities
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/complaints"
    >complaints
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/admin/complaints/complaintId"
    >complaint page
  </a>
  <h3>user pages</h3>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/register/"
    >user registration
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/login/"
    >user login
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/profile/"
    >user profile
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/services/"
    >user services
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/services/amenities"
    >user amenities
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/services/circulars"
    >user circulars
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/services/complaints"
    >user complaints
  </a>
  <a
    class="nav-link active"
    type="button"
    class="btn btn-primary"
    href="/contact/"
    >user contact
  </a>
</div>
